$primary-background: #2d4059;
$header-color: #222831;
$secondary-color: #ff5722;
$primary-color: #eeeeee;

@mixin headers {
  background-color: $header-color;
  color: $primary-color;
  margin: 0;
  text-align: center;
}

@mixin h2-styles {
  color: $primary-color;
  font-size: 2.8em;
  margin: 0;
  text-align: center;
  text-decoration: underline;
}

@mixin h3-styles {
  color: $header-color;
  font-size: 2.2em;
  margin: 15px;
  text-align: center;
}

@mixin active-button {
  background-color: $header-color;
  border-top: solid $secondary-color 2px;
  border-bottom: solid $secondary-color 2px;
  color: $primary-color;
}

@mixin input-style {
  font-size: 1.5em;
  height: 60px;
  padding-left: 15px;
  width: 75%;
}

@mixin button-style {
  border-radius: 4px;
  font-size: 1.5em;
  height: 60px;
  width: 400px;
}

@mixin tab-body-style {
  background-color: $primary-color;
  border-radius: 4px;
  margin: 20px auto;
  width: 90%;
}
