@import './_mixins.scss';
$primary-background: #2d4059;
$header-color: #222831;
$secondary-color: #ff5722;
$primary-color: #eeeeee;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
  font-family: 'Monda', sans-serif;
  margin: 0;
}

button, input {
  font-family: 'Monda', sans-serif;
}

h1 {
  @include headers;
  font-size: 5em;
  text-shadow:
    -1px -1px 0 $primary-color,
    1px -1px 0 $primary-color,
    -1px 1px 0 $primary-color,
    1px 1px 0 $primary-color;
}

h2 {
  @include h2-styles;
}

h3 {
  @include h3-styles;
}

h4 {
  color: $header-color;
  font-size: 1.8em;
}

p {
  color: $header-color;
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: center;
}

section {
  text-align: center;
}

label {
  color: $header-color;
  font-size: 2em;
}

select {
  color: #232931;
  font-size: 1.5em;
  height: 60px;
  margin-bottom: 30px;
  width: 400px;
}

#selected-user {
  background-color: #232931;
  border: solid 1px #fe5722;
  border-radius: 4px;
  margin: 0;
  text-decoration: none;
}

.tab {
  background-color: $primary-color;
  border: none;
  font-size: 1.5em;
  height: 100px;
  margin-top: 1%;
  transition: transform .2s;
  width: 20%;
  &:hover {
    @include active-button;
    cursor: pointer;
    transform: scale(1.1);
  }
}

#home-btn {
  border-radius: 4px 0 0px 4px;
}

#rooms-btn {
  border-radius: 0px 4px 4px 0px;
}

.active-button {
  @include active-button;
}

#home {
  text-align: center;
}

#home-info-container {
  @include tab-body-style;
  color: $header-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#customers {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%
}

#customers-info-container {
  background-color: $primary-color;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

#customer-search-input {
  @include input-style;
  margin: 0 auto;
  width: 50%;
}

#or-p {
  border-bottom: solid 2px $header-color;
  border-top: solid 2px $header-color;
  color: $header-color;
  margin: 15px auto;
  text-align: center;
  width: 25%;
}

#search-results {
  background-color: #eee;
  border-radius: 4px;
  height: 420px;
  left: 5%;
  overflow: scroll;
  position: absolute;
  top: 50%;
  width: 90%;
  z-index: 5;
}

.search-result {
  color: $header-color;
  text-align: center;
  transition: transform .3s;
  &:hover {
    background-color: $header-color;
    border: solid 1px $secondary-color;
    color: $primary-color;
    transform: scale(1.2);
  }
}

#onload-order-data {
  @include tab-body-style;
  text-align: center;
}

#orders-header {
  color: $header-color;
}

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#todays-orders-header {
  text-decoration: underline;
}

#selected-user-orders {
  @include tab-body-style;
}

#add-order-btn {
  @include button-style;
  &:hover {
    @include active-button;
  }
}

#new-order-menu {
  margin-top: 20px;
}

#submit-order-btn {
  @include button-style;
  &:hover {
    @include active-button;
  }
}

#new-customer{
  text-align: center;
  
  #new-customer-form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

#new-customer-btn {
  @include button-style;
  align-self: center;
  margin-bottom: 20px;
  transition: transform .2s;
  width: 50%;
  &:hover {
    @include active-button;
    transform: scale(1.1);
  }

}

#last-name-input, #first-name-input {
  @include input-style;
}

#create-customer-btn {
  @include button-style;
  margin: 30px;
  width: 50%;
}

#onload-rooms-data {
  @include tab-body-style;
}

#selected-user-rooms {
  @include tab-body-style;
}

#new-booking-btn {
 @include button-style;
 transition: transform .2s;
 &:hover {
  @include active-button;
  transform: scale(1.1);
 }
}

#booking-history {
  max-height: 500px;
  overflow: scroll;
}

#room-info {
  color: $header-color;
}

#room-search-results {
  max-height: 500px;
  overflow: scroll;
}

#most-rooms-avail {
  margin-bottom: 20px;
}

#room-search-input{
  font-size: 1.2em;
  height: 60px;
  margin-bottom: 10px;
  padding-left: 15px;
  width: 400px;
  text-align: center;
}

#search-room-btn {
  @include button-style;
  height: 60px;
  width: 400px;
  transition: transform .2s;
  &:hover {
    @include active-button;
    transform: scale(1.1);
  }
}

#room-search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#go-btn {
  @include button-style;
  height: 60px;
  width: auto;
  &:hover {
    @include active-button;
  }
}

.book-btn {
  @include button-style;
  width: 80%;
  transition: transform .2s;
  &:hover {
    @include active-button;
  }
}

.available-booking {
  align-items: center;
  border-radius: 4px;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  padding: 32px;
  width: 90%;
}

.booking {
  border-bottom: solid #232931 2px;
  border-top: solid #232931 2px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2px;
}

.display-none {
  display: none;
}

.loader {

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 45%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
