@import './_mixins.scss';
$primary-background: #2d4059;
$header-color: #222831;
$secondary-color: #ff5722;
$primary-color: #eeeeee;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
  font-family: 'Monda', sans-serif;
  margin: 0;
}

button, input {
  font-family: 'Monda', sans-serif;
}

h1 {
  @include headers;
  font-size: 5em;
  text-shadow:
    -1px -1px 0 $primary-color,
    1px -1px 0 $primary-color,
    -1px 1px 0 $primary-color,
    1px 1px 0 $primary-color;
}

h2 {
  @include h2-styles;
}

p {
  color: $primary-color;
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: center;
}

.tab {
  background-color: $primary-color;
  border: none;
  font-size: 1.5em;
  height: 100px;
  margin-top: 5%;
  transition: transform .2s;
  width: 20%;
  &:hover {
    @include active-button;
    cursor: pointer;
    transform: scale(1.1);
  }
}

#home-btn {
  border-radius: 4px 0 0px 4px;
}

#rooms-btn {
  border-radius: 0px 4px 4px 0px;
}

.active-button {
  @include active-button;
}

#home {
  text-align: center;
}

#home-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#customers {
  margin: 0 auto;
  margin-top: 7.5%;
  width: 60%;
}

#customers-info-container {
  display: flex;
  flex-direction: column;
}

#customers-search-container {
  display: flex;
  justify-content: center;
}

#customer-search-input {
  @include input-style;
}

#customers-search-btn {
  @include button-style;
}

#or-p {
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
  margin: 15px auto;
  text-align: center;
  width: 25%;
}

#search-results {
  background-color: #ccc;
  border-radius: 4px;
  border: solid 2px #232931;
  height: 420px;
  left: 2.5%;
  overflow: scroll;
  position: absolute;
  top: 50%;
  width: 95%;
  z-index: 5;
}

.search-result {
  color: #232931;
  text-align: center;
}

#new-customer-btn {
  @include button-style;
  align-self: center;
  width: 50%;
}


.display-none {
  display: none;
}
