@import './_mixins.scss';
$primary-background: #2d4059;
$header-color: #222831;
$secondary-color: #ff5722;
$primary-color: #eeeeee;

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-background;
  font-family: 'Monda', sans-serif;
  margin: 0;
}

button, input {
  font-family: 'Monda', sans-serif;
}

h1 {
  @include headers;
  font-size: 5em;
  text-shadow:
    -1px -1px 0 $primary-color,
    1px -1px 0 $primary-color,
    -1px 1px 0 $primary-color,
    1px 1px 0 $primary-color;
}

h2 {
  @include h2-styles;
}

h3 {
  @include h3-styles;
}

h4 {
  color: $header-color;
  font-size: 1.8em;
}

p {
  color: $header-color;
  font-size: 2em;
}

nav {
  display: flex;
  justify-content: center;
}

section {
  text-align: center;
}

#selected-user {
  margin: 0;
}

.tab {
  background-color: $primary-color;
  border: none;
  font-size: 1.5em;
  height: 100px;
  margin-top: 1%;
  transition: transform .2s;
  width: 20%;
  &:hover {
    @include active-button;
    cursor: pointer;
    transform: scale(1.1);
  }
}

#home-btn {
  border-radius: 4px 0 0px 4px;
}

#rooms-btn {
  border-radius: 0px 4px 4px 0px;
}

.active-button {
  @include active-button;
}

#home {
  text-align: center;
}

#home-info-container {
  @include tab-body-style;
  color: $header-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#customers {
  margin: 0 auto;
  margin-top: 5.5%;
  width: 60%;
}

#customers-info-container {
  display: flex;
  flex-direction: column;
}

#customers-search-container {
  display: flex;
  justify-content: center;
}

#customer-search-input {
  @include input-style;
}

#customers-search-btn {
  @include button-style;
}

#or-p {
  border-bottom: solid 1px $primary-color;
  border-top: solid 1px $primary-color;
  color: $primary-color;
  margin: 15px auto;
  text-align: center;
  width: 25%;
}

#search-results {
  background-color: #ccc;
  border-radius: 4px;
  border: solid 2px $header-color;
  height: 420px;
  left: 2.5%;
  overflow: scroll;
  position: absolute;
  top: 50%;
  width: 95%;
  z-index: 5;
}

.search-result {
  color: $header-color;
  text-align: center;
  transition: transform .3s;
  &:hover {
    background-color: $header-color;
    border: solid 1px $secondary-color;
    color: $primary-color;
    transform: scale(1.2);
  }
}

#onload-order-data {
  @include tab-body-style;
  text-align: center;
}

#orders-header {
  color: $header-color;
}

.order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#selected-user-orders {
  @include tab-body-style;
}

#new-customer{
  text-align: center;
  
  #new-customer-form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

#new-customer-btn {
  @include button-style;
  align-self: center;
  width: 50%;
}

#last-name-input, #first-name-input {
  @include input-style;
}

#create-customer-btn {
  @include button-style;
  width: 50%;
}

#onload-rooms-data {
  @include tab-body-style;
}

#selected-user-rooms {
  @include tab-body-style;
}

#room-info {
  color: $header-color;
}

#room-search-results {
  max-height: 500px;
  overflow: scroll;
}

#room-search-input{
  font-size: 1em;
  height: 50px;
  padding-left: 15px;
  width: 300px;
}

#search-room-btn {
  font-size: 1.2em;
  height: 50px;
  width: 300px;
}

#room-search-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.display-none {
  display: none;
}
